/**************** Search Places ***************/
.ss-searchPlaces {
    -servicestudio-margin: 5px;
    -servicestudio-min-width: 350px;
    -servicestudio-width: auto;
}

.ss-searchPlaces-dropdown {
    display: none;
    -servicestudio-align-items: center;
    -servicestudio-background-color: white;
    -servicestudio-border: 1px solid rgba(200,200,200,0.5);
    -servicestudio-border-radius: 4px;
    -servicestudio-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    -servicestudio-display: flex;
    -servicestudio-height: 35px;
    -servicestudio-padding: 5px 10px;
}

.ss-searchPlaces-dropdown-image {
    -servicestudio-font-size: 14px;
    -servicestudio-margin: 5px 10px 5px 5px;
}

.ss-searchPlaces-dropdown-bold {
    -servicestudio-font-size: 14px;
}

.ss-searchPlaces-dropdown-text {
    -servicestudio-color: rgba(155,155,155,1);
    -servicestudio-font-size: 13px;
    -servicestudio-margin-left: 5px;
    -servicestudio-margin-right: 10px;
}

.ss-searchPlaces-styles {
    -servicestudio-display: none!important;
}

.ss-searchPlaces-placeholder {
    -servicestudio-background-color: rgba(200,200,200,0.3);
    -servicestudio-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.03);
    -servicestudio-border: 1px solid rgba(200,200,200,0.5);
    -servicestudio-border-radius: 4px;
    -servicestudio-min-height: 35px;
    -servicestudio-position: relative;
}

.ss-searchPlaces-placeholder:empty {
    -servicestudio-background-color: #dcecfd;
}

.ss-searchPlaces-placeholder:empty:after {
    -servicestudio-color: black;
    -servicestudio-content: '🛈 Drag an input or search widgets here';
    -servicestudio-font-family: Arial;
    -servicestudio-font-size: 11px;
    -servicestudio-left: 50%;
    -servicestudio-position: absolute;
    -servicestudio-top: 50%;
    -servicestudio-transform: translate(-50%, -50%);
    -servicestudio-white-space: nowrap;
    -servicestudio-z-index: 0;
}